/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 17, 2017, 1:03:25 PM
    Author     : vinod
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 16, 2017, 3:24:48 PM
    Author     : vinod
*/

 @media  screen and (width: 360px)  {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-360{
                    margin-left: 220px !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-360{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 174px  !important;
                }
                .a-home-360{
                     margin-left: 218px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-360{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-360{
                    margin-left: 15% !important;
                    margin-top: 5% !important;
                    width:37% !important;
                }
                .reset_btn-home-360{
                    margin-top: 25px !important;
                    margin-bottom: 5% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                }
               .right-badge:before {
                    content: "";
                    display: inline-block;
                    width: 0;
                    height: 0;
                    position: absolute;
                    border-style: solid;
                    border-width: 0 22px 41px 0;
                    border-color: transparent #005e9e transparent transparent;
                    right: 97%;
                    top: 0;
                }
               .home-360{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-360{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    
                
    }
        
        
        
        
         
        /* display 412 start */  
          @media  screen and (width: 412px) {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-412{
                    margin-left: 272px  !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-412{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 226px        !important;
                }
                .a-home-412{
                     margin-left: 270px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-412{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-412{
                    margin-left: 25% !important;
                    margin-top: 4% !important;
                    width:28% !important;
                }
                .reset_btn-home-412{
                   margin-top: 25px !important;
                    margin-bottom: 4% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                }
              
               .home-412{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-412{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
                
    }
        /*display 412 end */
        
          /* device size  640 start*/
       @media  screen and (width: 640px) {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-640{
                    margin-left: 499px  !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-640{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 454px    !important;
                }
                .a-home-640{
                     margin-left: 498px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-640{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-640{
                    margin-left: 29% !important;
                    margin-top: 0% !important;
                    width:28% !important;
                }
                .reset_btn-home-640{
                    margin-top: 26px !important;
                     margin-bottom: 5% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                }
              
               .home-640{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-640{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    
                
    }        
        /*device size 640 ends here */
        
        
          /* Display device 684 start*/
          @media  screen and (width:684px) {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-684{
                    margin-left: 543px  !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-684{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 499px        !important;
                }
                .a-home-684{
                     margin-left: 542px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-684{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-684{
                    margin-left: 30% !important;
                    margin-top: 4% !important;
                    width:28% !important;
                }
               .reset_btn-home-684 {
                       margin-top: 21px !important;
                       margin-bottom: 0% !important;
                    }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                }
              
               .home-684{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-684{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    }
        /*Display device 684 end  */
        
         /* Display device 732 start*/
          @media  screen and (width:732px) {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-732{
                    margin-left: 591px    !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-732{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 547px   !important;
                }
                .a-home-732{
                     margin-left: 590px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-732{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-732{
                    margin-left: 30% !important;
                    margin-top: 4% !important;
                   width:28% !important;
                }
               .reset_btn-home-732 {
                margin-top: 23px !important;
                margin-bottom: 0% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                }
              
               .home-732{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-732{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    }
        /*Display device 684 end  */
        
        
        
        /* Display device( I Phone 5) 320 start*/
        
         @media  screen and (width:320px) {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-320{
                    margin-left: 179px    !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-320{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 134px   !important;
                }
                .a-home-320{
                     margin-left: 177px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-320{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-320{
                       margin-left: 15% !important;
                        margin-top: 13% !important;
                        width: 43% !important;
                }
               .reset_btn-home-320 {
                        margin-top: 24px !important;
                        margin-bottom: 0% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                    margin-left:0px !important ;
                }
              
               .home-320{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-320{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    }
        
        /* Display device( I Phone 5) 320 ends*/
        
        
         /* Display device( I Phone 5) 568 start*/
          @media  screen and (width:568px) {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-568{
                    margin-left: 427px    !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-568{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    /*margin-top: -1px !important;
                    margin-left: 78px !important;*/
                  
                    margin-top: -57px !important;
                    margin-left: 383px !important;
                }
                
                .mrgnleftYrPurchase{
                    left: -6px;
                }
                .mrgnleftYrExpect{
                    left: -7px;
                }
                .tbiphn{
                    
                    right: -4px !important;
                }
                .a-home-568{
                     margin-left: 429px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-568{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-568{
                    margin-left: 28% !important;
                    margin-top: 4% !important;
                   width:28% !important;
                }
               .reset_btn-home-568 {
                margin-top: 24px !important;
                margin-bottom: 1% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                }
              
               .home-568{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-568{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    }
        
         /* Display device( I Phone 5) 568 ends*/
        
        /* Display device( I Phone 5) 375 start*/
          @media  screen and (width:375px) {
    div.hide4Mobile {
            display:none;
        }
                .a-home-cor-375{
                    margin-left: 236px    !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-375{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 189px   !important;
                }
                .a-home-375{
                     margin-left: 234px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-375{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-375{
                       margin-left: 15% !important;
                        margin-top: 13% !important;
                        width: 43% !important;
                }
               .reset_btn-home-375 {
                          margin-top: 21px !important;
                          margin-bottom: -4% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                    margin-left:0px !important ;
                }
              
               .home-375{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-375{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    }
         /* Display device( I Phone 5) 375 ends*/
         
          /* Display device( I Phone 5) 667 start*/
          @media  screen and (width:667px) {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-667{
                    margin-left: 526px    !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-667{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 482px   !important;
                }
                .a-home-667{
                     margin-left: 526px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-667{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-667{
                       margin-left: 30% !important;
                        margin-top: 13% !important;
                        width: 28% !important;
                }
               .reset_btn-home-667 {
                     margin-top: 27px !important;
                     margin-bottom: -8% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                    margin-left:0px !important ;
                }
              
               .home-667{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-667{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    }
         /* Display device( I Phone 5) 667 ends*/
         
         
         /* Display device( I Phone 5) 414 start*/
          @media  screen and (width:414px) {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-414{
                    margin-left: 274px    !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-414{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 228px   !important;
                }
                .a-home-414{
                     margin-left: 272px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-414{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-414{
                       margin-left: 15% !important;
                        margin-top: 13% !important;
                        width: 43% !important;
                }
               .reset_btn-home-414 {
                 margin-top: 20px !important;
                margin-bottom: -6% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                    margin-left:0px !important ;
                }
              
               .home-414{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-414{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    }
         /* Display device( I Phone 5) 667 ends*/
         
          /* Display device( I Phone 5) 736 start*/
           @media  screen and (width:736px) {
        div.hide4Mobile {
            display:none;
        }
                .a-home-cor-736{
                    margin-left: 596px    !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-736{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 551px   !important;
                }
                .a-home-736{
                     margin-left: 594px !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-736{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-736{
                       margin-left: 29% !important;
                        margin-top: 13% !important;
                        width: 28% !important;
                }
               .reset_btn-home-736 {
                     margin-top: 18px !important;
                     margin-bottom: -10% !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important; 
                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                    margin-left:0px !important ;
                }
              
               .home-736{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-736{
                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{
                    
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;
                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    }
         /* Display device( I Phone 5) 736 ends*/
         
         
         /* Display device( I Phone 5) 768 start*/
           @media  screen and (width:768px) {
        
               /*new css for iphone */
               .mblSize
               {
                   width:50%;                 
               }               
                .mblsm2
                {
                    width:42%                   
                }
               
                #resultSIP_Delay
                {                   
                    margin-top:500px;
                }
               
              div.hide4Mobile {
            display:none;
        }
                .a-home-cor-768{
                    margin-left: 193px    !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-768{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 147px    !important;
                }
                .a-home-768{
                     margin-left: 191px  !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-768{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-768{
                       margin-left: 35% !important;
                        margin-top: 13% !important;
                        width: 43% !important;
                }
               .reset_btn-home-768 {
                     margin-top: 18px !important;
                     margin-bottom: -8%  !important;
                }
                /* new css for result */
                
                .value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    padding-left: 0px !important;
                }
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important;                    
                }
                #DIVresult{
                    padding-left: 0px !important;
                    margin-left:0px !important ;
                }
              
               .home-768{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-768{                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{                   
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;                    
                }
                .home_op{
                    margin-left: 0px !important;
                }
    }
         /* Display device( I Phone 5) 768 ends*/
         
         
         @media  screen and (width:1024px) {
        
               /*new css for iphone */
               .mblSize
               {
                   width:50%;                 
               }               
                .mblsm2
                {
                    width:42%                   
                }
               
                #resultSIP_Delay
                {                   
                    margin-top:500px;
                }
               
              div.hide4Mobile {
            display:none;
        }
                .a-home-cor-1024{
                    margin-left: 193px    !important;
                    top:6px !important;
                    margin-top:6px !important;
                    position: absolute;
                }
                .right-badge-home-1024{
                   
                    display: inline-block;
                    vertical-align: middle;
                    background: #005e9e;
                    color: #fff;
                    font: 16px 'Source Sans Pro';
                    font-weight: 400;
                    height: 40px;
                    text-align: center;
                    padding: 6px;
                    position: relative;
                    margin-top: -57px !important;
                    margin-left: 267px !important;
                    padding-right: 20px !important;
                }
                .a-home-1024{
                     margin-left: 191px  !important;
                     top: 6px !important;
                     margin-top: 9px !important;
                     position: absolute;
                }
                .mob-padding-home-1024{
                    padding-right: 10px !important;
                }
               .calculate_btn-home-1024{
                       margin-left: 46% !important;
                        margin-top: 13% !important;
                        width: 28% !important;
                }
               .reset_btn-home-1024 {
                        margin-top: 18px !important;
                         margin-bottom: -10% !important;
                }
                /* new css for result */

                .hpvalue1024
                {
                    padding-left: 0px !important;
                    
                }
                .hphdtxt1024
                {
                    margin-left: 0px !important;
                }
                
                /*.value
                {
                    padding-left: 0px !important;
                    
                }
                .hedgTxt02
                {
                    margin-left: 0px !important;
                }*/

                /*
                #LumpsumPv{
                    width:100% !important;
                }
                #MonthlySIPInvest
                {
                    width:100% !important; 
                    
                }
                #sipDelayAmntLoose
                {
                    width:100% !important; 
                }
                #LumpsumDelayAmntLoose
                {
                    width:100% !important;                    
                }*/
                #DIVresult{
                    padding-left: 0px !important;
                    margin-left:0px !important ;
                }
              
               .home-1024{
                    margin-left: 0px !important; 
                    margin-top: 0px  !important; 
                }
               .aMnt-home-1024{                    
                        margin-left: 218px !important;
                        margin-top: -57px !important;
                }
                
                #chrtPi{display: none;}
                .tb{                   
                    padding-right:17px !important;
                }
                
                #TblFutureVal{display:none;}
                #fturvalue
                {
                    padding-left: 0px !important;                    
                }
                .home_op{
                    margin-left: 65px !important;
                }
    }